<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\User\Block\User\Edit\Tab\Main">
        <plugin name="space48_sso_add_sso_fields" type="Space48\SSO\Plugin\Magento\User\AddSSOFieldsToUserEditForm" />
        <plugin name="space48_sso_remove_identity_check_fields" type="Space48\SSO\Plugin\Magento\RemoveIdentityCheckFormFields" />
    </type>
    <type name="Magento\User\Model\User">
        <plugin name="space48_sso_restrict_password_login" type="Space48\SSO\Plugin\Magento\User\RestrictPasswordLogin" />
        <plugin name="space48_sso_disable_identity_check" type="Space48\SSO\Plugin\Magento\User\BypassIdentityCheck" />
    </type>
    <type name="Magento\User\Model\Spi\NotificatorInterface">
        <plugin name="space48_sso_restrict_password_reset" type="Space48\SSO\Plugin\Magento\User\RestrictResetPassword" />
    </type>
    <type name="Magento\Backend\Block\System\Account\Edit\Form">
        <plugin name="space48_sso_remove_identity_check_fields" type="Space48\SSO\Plugin\Magento\RemoveIdentityCheckFormFields" />
    </type>
    <type name="Magento\Integration\Block\Adminhtml\Integration\Edit\Tab\Info">
        <plugin name="space48_sso_remove_identity_check_fields" type="Space48\SSO\Plugin\Magento\RemoveIdentityCheckFormFields" />
    </type>
    <type name="Magento\User\Block\Role\Tab\Info">
        <plugin name="space48_sso_remove_identity_check_fields" type="Space48\SSO\Plugin\Magento\RemoveIdentityCheckFormFields" />
    </type>
</config>
